@()(implicit request: RequestHeader)

@main("Echo") {
    
    <div class="page-header">
        <h1>Welcome to the chat room</h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
        </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
    
$(function() {
	var MAX_RETRY_COUNT = 5,
	    RETRY_INTERVAL_BASE = 5,
	    ECHO_URI = "@Html(routes.Application.echo().webSocketURL())";
	
	function sendMessage(msg) {
		if (!msg) {
			msg = $("#talk").val();
			$("#talk").val('')
		}
		chatSocket.send(msg);
	}
	
	function receiveEvent(event) {
		$("#onChat").show()
		
		// Create the message element
		var el = $('<div class="message"><span></span><p></p></div>')
		$("span", el).text("echo")
console.log("test: " + event.data);
		$("p", el).text(event.data)
		$('#messages').append(el)
	}
	function handleReturnKey(e) {
		if(e.charCode == 13 || e.keyCode == 13) {
			e.preventDefault()
			sendMessage()
		} 
	}
	function openEvent(evt) {
		console.log("open: " + retryCount)
		retryCount = 0;
		chatSocket.send("open");
	}
	function closeEvent(evt) {
		console.log("close: " + retryCount)
		if (retryCount > MAX_RETRY_COUNT) {
			$("#onError span").text("Connection interrupted!")
			$("#onError").show()
		} else {
			var next = RETRY_INTERVAL_BASE * retryCount * 1000;
			setTimeout(function() {
				chatSocket = createWebSocket();
			}, next)
		}
		retryCount++;
	}
	function errorEvent(evt) {
		console.log("error: " + evt);
	}
	function createWebSocket() {
		var ret = new WebSocket(ECHO_URI);
		ret.onopen = openEvent;
		ret.onmessage = receiveEvent;
		ret.onerror = errorEvent;
		ret.onclose = closeEvent;
		return ret;
	}
	
	$("#talk").keypress(handleReturnKey);
	window.onunload = function() {
		if (chatSocket) {
			chatSocket.onclose = null;
		}
	}
	
	var retryCount = 0,
		msgCount = 0,
		chatSocket = createWebSocket();
})

    </script>

}
